.container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  width: 100%;
  border-bottom: 1px #ffff solid;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navLinkContainer {
  display: block; 
}

.navItems {
  display: flex;
  flex-direction: row;
  z-index: 500;
  background: hsl(0 0% 89.8% / 0.1);
  backdrop-filter: blur(1rem);
  letter-spacing: 2;
}

.navItem {
  display: inline-block;
  margin-top: 0.5rem;
  vertical-align: middle; 
  color: #ffff;
  margin-left: 1rem;
  letter-spacing: 2;
}

.blogLogo {
  cursor: pointer;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.5rem; 
  color: #f5eee6;
}


.grid {
  display: grid;
  grid-template-areas: 'a a';
  grid-template-columns: 2.5fr 1fr;
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 3rem;
  color: #252525;
}

.singleArticleGridContainer {
  display: grid;
  grid-column: 1 / span 1; 
  /* background-color: #ffff; */
  /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem; */
  padding: 0;
  margin-bottom: 2rem;
  /* background: steelblue;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem); */
}

.articleCard {
  display: grid;
  grid-column: 1 / span 1; 
  background-color: #ffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 0;
  margin-bottom: 2rem;
  background: steelblue;
  background: hsl(0 0% 89.8% / 0.1);
  backdrop-filter: blur(1rem);
  max-width: 900px;
  /* background: rgba(255, 255, 255, 0.23);
border-radius: 14px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
border: 1px solid rgba(255, 255, 255, 0.3); */
}

.articleImageWrapper {
  overflow: hidden; 
  position: relative; 
  padding-bottom: 20rem; 
  margin-bottom: 1.5rem; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);  
}

.articleImage {
  position: absolute;
  object-position: top; 
  width: 100%; 
  height: 20rem;
  object-fit: cover; 
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  border-radius: 4px;
}

.singleArticleImageWrapper {
  overflow: hidden; 
  position: relative; 
  padding-bottom: 20rem; 
  margin-bottom: 1.5rem; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

.singleArticleImage {
  /* object-position: top; 
  width: 100%; 
  height: 20rem; 
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;  */
  position: absolute;
  object-position: top; 
  width: 100%; 
  height: 20rem;
  object-fit: cover; 
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  border-radius: 14px;
}

.singleArticleContainer {
  background-color: #ffffff; 
  border-radius: 4px; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  background: steelblue;
  background: hsl(0 0% 89.8% / 0.1);
  backdrop-filter: blur(1rem);
}

/* .singleArticleContainer:has(p, div, img, image) {
  padding: 0 2rem;
} */

.articleTitle {
  text-align: left;
  margin-bottom: 2rem; 
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  color: #F9FAFE;
  transition-duration: .4s;
}

.articleExcerpt {
  display: block;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

.commentsFormContainer {
  padding: 2rem; 
  padding-bottom: 3rem; 
  margin-bottom: 2.5rem; 
  background-color: #F9FAFE; 
  border-radius: 4px; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  color: #252525;
  background: steelblue;
  background: hsl(0 0% 89.8% / 0.15);
  backdrop-filter: blur(1rem);
}

.commentsFormCard {
  padding-bottom: 1rem; 
  margin-bottom: 2rem; 
  font-size: 1.125rem;
  line-height: 1.75rem; 
  font-weight: 600; 
  border-bottom: 1px solid #F9FAFE; 
  color: #F9FAFE;
}

.commentsFormTextArea {
  display: grid; 
  margin-bottom: 1rem; 
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
  gap: 1rem; 
}

.commentsFormTextBox {
  padding: 1rem; 
  background-color: #f5eee6; 
  width: 100%; 
  border-radius: 0.5rem;
  border: none;
  color: #252525; 
}

.commentsFormTextBox:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color); 
  --ring-color: #E5E7EB; 
}

.errorRequiredFields {
  color: #EF4444; 
  font-size: 0.75rem;
  line-height: 1rem; 
}

.articleTitle:hover {
  color: #66f4da;
}

.gridColumn {
  grid-column: span 1 / span 1; 
}

.stickyCard {
  position: relative; 
  top: 2rem; 
}

.recentArticlesContainer {
  display: block;
  background-color: #ffff;
  padding: 2rem; 
  margin-bottom: 2rem; 
  border-radius: 4px; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  background: steelblue;
  background: hsl(0 0% 89.8% / 0.15);
  backdrop-filter: blur(1rem);
  /* background: rgba(255, 255, 255, 0.23);
border-radius: 12px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.6px);
-webkit-backdrop-filter: blur(5.6px);
border: 1px solid rgba(255, 255, 255, 0.3); */
}

.recentArticlesContainerTitle {
  padding-bottom: 1rem; 
  margin-bottom: 1.5rem; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  font-weight: 600; 
  border-bottom: 1px solid #f5eee6; 
  color: #f5eee6;
}

.recentArticleTitle {
  font-weight: 500;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: .75px #f5eee6 solid;
  cursor: pointer;
  transition-duration: .4s;
  color: #f5eee6;
}

.recentArticleTitle:hover {
  /* color: #208bfd; */
  color: #66f4da;
}

.articleDate {
  font-weight: lighter;
  font-size: .8rem;
  color: #f5eee6;
}

.categoryTitle {
  color: #f5eee6;
  transition-duration: .4s;
}

.categoryTitle:hover {
  border-bottom: 1px solid #66f4da; 
  color: #66f4da;
}

.category {
  font-weight: 500;
  margin-bottom: .75rem;
  padding-bottom: .75rem;
  /* border-bottom: 1px #e5e5e5 solid; */
  cursor: pointer;
  transition-duration: .4s;
}

/* .category:hover {
  border-bottom: 1px solid #e5e5e5; 
  color: #208bfd;
} */

.successMessage {
  float: right; 
  margin-top: 0.75rem; 
  color: #66f4da; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  font-weight: 600; 
}

.commentTitle {
  padding-bottom: 1rem; 
  margin-bottom: 1rem; 
  border-bottom: 1px solid #F9FAFE; 
  color: #F9FAFE;
}

.commentDate {
  margin-bottom: 1rem;
  color: #f5eee6;
}

.comment {
  color: #f5eee6; 
  white-space: pre-line;
  width: 100%; 
}

.hamburgerOn { 
  display: none;
}



/* BUTTON STYLING */
.btnPrimary {
    background-color: transparent;
    border: 1px solid #8d8d8d;
    /* border: none; */
    color: #8d8d8d;
    transition-duration: .4s;
    cursor: pointer;
    padding: 0 2rem;
}

.btnPrimary:hover {
  background-color: transparent;
  color: #66f4da;
  border-color: #66f4da;
  border: 1px solid #66f4da;
}

/* .btnPrimary:before, .btnPrimary:after {
  content: '';
  border-style: solid;
  position: absolute;
  z-index: 5;
  border-radius: 3px;
  box-sizing: content-box;
} */

.btnPrimary:before {
  width: 0;
  height: 100%;
  border-width: 1px 0 1px 0;
  top: -1px;
  left: 0;
  transition-delay: 0.05s;
}

.btnPrimary:after {
  width: 100%;
  height: 0;
  border-width: 0 1px 0 1px;
  top: 0;
  left: -1px;
}

.commentSubmitButton {
  transition-duration: .4s;
}


/* .btnPrimary.btn-blue:before, .btn-border.btn-blue:after {
  border-color: #208bfd;
}

.btnPrimary:hover {
  color: #208bfd;
} */

.blockQuote {
  margin-bottom: 2rem; 
  line-height: 1.5;
  padding-right: 2rem;
  padding-left: 1rem;
  border-left: 1px solid #8d8d8d;
  color: #8d8d8d;
  margin-left: 2rem;
  font-style: italic;
}

.headingTwo {
  margin-bottom: 1rem; 
  margin-top: 6rem;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  line-height: 2rem; 
  font-weight: bold;
  color: #f5eee6;
  padding-left: 2rem;
  text-decoration: underline;
}

.headingThree {
  margin-bottom: 1rem; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  font-weight: 600; 
  color: #f5eee6;
  padding-left: 2rem;
  margin-top: 4rem;
}

.headingFour {
  margin-bottom: 1rem; 
  font-size: 1.15rem;
  line-height: 1.75rem; 
  font-weight: 500; 
  color: #f5eee6;
  padding-left: 2rem;
  margin-top: 3rem;
}

.paragraph {
  margin-bottom: 1.5rem; 
  line-height: 1.5;
  padding-inline: 2rem;
  font-weight: 400;
  font-size:.9rem;
}

.authorContainer {
  padding: 2rem; 
  margin-bottom: 2.5rem; 
  margin-top: 2.5rem; 
  /* background-color: #000000;  */
  text-align: center; 
  border-radius: 4px;  
  /* opacity: 0.2;  */
  background-color: #ffff;
  background: steelblue;
  background: hsl(0 0% 89.8% / 0.15);
  backdrop-filter: blur(1rem);
}

.authorWrapper {
  position: absolute; 
  right: 0; 
  left: 0; 
  top: -3.5rem; 
}

.authorName {
  margin-top: 1rem;
  margin-bottom: 1rem; 
  color: #252525; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  font-weight: 700; 
  text-align: left;
  color: #F9FAFE;
}

.authorBio {
  color: #f5eee6; 
  font-size: .9rem;
  line-height: 1.75rem; 
  text-align: left;
}

.authorImage {
  vertical-align: middle; 
  /* border-radius: 9999px; */
  border-radius: 8px;
  /* opacity: 100%; */
}


/* LARGE SCREEN (LAPTOP+) */
@media (min-width: 1024px) { 
  .singleArticleContainer {
    /* padding: 2rem;  */
    padding-bottom: 3rem; 
    margin-bottom: 2rem; 
  }

  /* .articleGrid {
    grid-template-columns: repeat(12, minmax(0, 1fr)); 
    gap: 3rem;
  } */

  .commentsFormTextArea {
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
  }

  /* .gridColumn {
    grid-column: span 4 / span 4; 
  } */

  /* .articleCard {
    grid-column: span 8 / span 8;
    padding: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem; 
  } */

  /* .articleImage {
    border-radius: 0.5rem; 
  } */

  .articleExcerpt {
    display: flex;
  }

  .stickyCard {
    position: sticky;
  }
}

/* MEDIUM SCREEN (IPAD) */
@media (max-width: 768px) {
  .navLinkContainer {
    float: left;
  }

  .navItems {
    float: left;
    display: contents;
  }

  .navItem {
    float: right;
    cursor: pointer;
  }

  .grid {
    grid-template-areas: 'a';
    grid-template-columns: 100%;
  }
}

@media (max-width: 680px) {
  .singleArticleContainer {
    min-width: 600px;
  }
}

@media (min-width: 768px) {
  .navLinkContainer {
    float: left;
  }

  .navItems {
    float: left;
    display: contents;
  }

  .navItem {
    float: right;
    cursor: pointer;
  }
}

@media (max-width: 35em) {
  .navItemsOff {
    position: fixed;
    inset: 0 0 0 30%;
    background: steelblue;
    background: hsl(0 0% 89.8% / 0.1);
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    padding: min(40vh, 10rem) 2rem;
    z-index: 100;
    gap: 3rem;
    font-size: 1.4rem;
    height: 100vh;
    margin-top: 0;
    transform: translateX(100%);
  }

  .navItemsOn {
    position: fixed;
    inset: 0 0 0 25%;
    background: steelblue;
    background: hsl(0 0% 89.8% / 0.1);
    backdrop-filter: blur(1rem);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: min(40vh, 10rem) 2rem;
    z-index: 100;
    gap: 3rem;
    font-size: 1.4rem;
    height: 100vh;
    margin-top: 0;
  }

  

  .navItem {
    /* position: fixed; */
    inset: 0 0 0 50%;
    /* margin-inline: 4rem; */
    /* background: steelblue; */
    /* display: flex;
    flex-direction: column;
    display: block; */
  }

  .hamburgerOn {
    display: block;
    position: absolute;
    display: 'inline-block';
    size: '40px';
    color: 'white';
    right: 2rem;
    z-index: 500;
    border: none;

    cursor: pointer;
  }
/* 
  .hamburgerMenuOff {
    display: none;
  } */
}
