.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color: #8d8d8d;
    min-width: 668px;
}

.footerElement {
    margin: 1rem 0;
}