.container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    width: 100%;
    border-bottom: 1px #f5eee6 solid;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .navLinkContainer {
    display: block; 
    transition-duration: .3s;
  }
  
  .navItems {
    display: flex;
    flex-direction: row;
    z-index: 500;
    background: hsl(0 0% 89.8% / 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(1rem);
    letter-spacing: 2;
  }
  
  .navItem {
    display: inline-block;
    margin-top: 0.5rem;
    vertical-align: middle; 
    color: #f5eee6;
    margin-left: 1rem;
    letter-spacing: 1.2px;
    transition-duration: .3s;
  }

  .navItem:hover {
    transform:translateY(-20px);
    /* border-bottom: #ffff .5px solid; */
    color: #64ffda;
  }


  
  .blogLogo {
    cursor: pointer;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.5rem; 
    color: #f5eee6;
    transition-duration: .4s;
    letter-spacing: 1.2px;
  }

  .blogLogo:hover {
    color: #64ffda;
  }
  
  .hamburgerOn { 
    display: none;
  }
  




/* 
MEDIA QUERIES FOR SMALLER DEVICES (IPAD, PHONES)
*/
  
  @media (max-width: 768px) {

    .container {
      width: 100%;
      width: 100vw; 
      min-width: 668.5px;
    }

    .nav {
      min-width: 600px;
      display: flex;
      justify-content: space-between;
    }

    .navItemsOff {
        display: none;
    }
  
    .navItemsOn {
      position: fixed;
      inset: 0 0 0 25%;
      background: steelblue;
      background: hsl(0 0% 89.8% / 0.1);
      backdrop-filter: blur(1rem);
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      padding: min(40vh, 10rem) 2rem;
      z-index: 100;
      gap: 3rem;
      font-size: 2.5rem;
      height: 100%;
      margin-top: 0;
    }

    .navItem {
      /* position: fixed; */
      inset: 0 0 0 50%;
      /* margin-inline: 4rem; */
      /* background: steelblue; */
      /* display: flex;
      flex-direction: column;
      display: block; */
    }
  
    .hamburgerOn {
      display: block;
      position: static;
      display: 'inline-block';
      size: '40px';
      color: 'white';
      right: 2rem;
      z-index: 500;
      border: none;
      cursor: pointer;
      transition-duration: .4s;
    }

    .hamburgerOn:hover {
      color: #64ffda;
    }
  /* 
    .hamburgerMenuOff {
      display: none;
    } */
  }
  
  